server_ip: "YOUR_SERVER_IP"
server_hostname: "YOUR_HOSTNAME"
server_timezone: "Europe/Paris"

ssh_port: 2222
ssh_admin_email: "admin@example.com"

apache_port: 8085
nginx_default_port: 80
nginx_https_port: 443

php_version: "8.4"
node_default_version: "node"

mariadb_version: "12.2"
mariadb_admin_user: "admin"

mail_domain: "example.com"
mail_admin_user: "admin"

admin_email: "admin@example.com"
security_email: "security@example.com"

dkim_domains:
  - domain: "example.com"
    selector: "mail"

vmail_group_id: 5000
vmail_user_id: 5000
vmail_home: "/var/mail/vhosts"

crowdsec_whitelist_ip: "YOUR_ADMIN_IP"

install_bind: false
