[Service]
# Kernel / hardware
PrivateDevices=true
ProtectClock=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectHostname=true

# Namespaces / misc
RestrictNamespaces=true
LockPersonality=true
RestrictRealtime=true
RestrictSUIDSGID=true
UMask=0027

# Filesystem
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/var/log/nginx /run /var/lib/nginx /var/cache/nginx

# Network
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6

# Capabilities
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SETUID CAP_SETGID CAP_CHOWN CAP_DAC_OVERRIDE CAP_FOWNER CAP_KILL CAP_SYS_RESOURCE

# Syscalls
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@clock @debug @module @mount @reboot @swap @raw-io
SystemCallFilter=setgroups setgroups32 setuid setuid32 setgid setgid32 setresuid setresuid32 setresgid setresgid32 setreuid setreuid32 setregid setregid32
